.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #12141c;
    border-radius: .3em;
    ul{
        display: flex;
        gap: 3em;
        margin-left: 10%;
    }
    a{
        text-decoration: none;
        color: #f1f1f1;
        font-family: Montserrat;
        &:hover{
            color: #ffff
        }
    }
    li{
        list-style: none;
        position: relative;
    }
    img{
        width: 4.5em;
        margin-top: .5em;
    }
    .ctas{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .5em;
        font-weight: bold;
        position: absolute;
        top: 73%;
        background-color: #212536;
        width: 10em;
        border-radius: .5em;
        padding: 1em;
        display: none;
        
    }
        .cta_nav{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 3em;
            border-radius: .3em;
            &:hover{
                background-color: #2b2e44;
            }
        }
        .cta1_nav{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 3em;
            border-radius: .3em;
            &:hover{
                background-color: #2b2e44;
            }
        }
}
.nav_selected{
    font-weight: bold;
    transition: .1s ease-in-out;
    &:before{
        content: "";
        position: absolute;
        width: 1em;
        height: .16em;
        background-color: #33ad5a;
        border-radius: 1em;
        bottom: -.5em;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease-in-out;
    }
}

.account{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .1em;
    margin-right: 1em;
    .arrow_nav_account{
        transition: .2s ease-in-out;
    }
    &:hover{
        .arrow_nav_account{
            background-color: #303030;
            border-radius: 50%;
            rotate: 180deg;
    }
}
}
.account:hover .ctas{
    display: flex;
}


.account_circle{
    transition: .3s ease-in-out
}
.account:hover .account_circle{
    transform: translateY(-2px);
}

.right_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    .free_cta{
        background-color: #33ad5a;
        padding: .8em;
        border-radius: .5em;
        font-weight: 600;
        &:hover{
            background-image: linear-gradient(270deg,hsl(136, 56%, 40%) 0%,hrgb(72, 206, 110)11%,hsrgb(68, 220, 116)2%,hsl(140deg 52% 47%) 33%,hsl(142deg 50% 50%) 44%,hsl(143, 64%, 34%) 56%,hsl(145, 58%, 35%) 67%,hsl(146, 59%, 40%)78%,hsl(148, 80%, 29%) 89%,hsl(149, 62%, 34%) 100%);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

